p {
    color: #FFF;
}

.movie-title {
    color: #FFF;
}

.details-subheading {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.tagline {
    width:50%;
}