header {
    height: 150px;
    display: flex;
    align-items: center;

}

.main-heading {
    color: #FFF;
    font-size: 50px;
    margin-left: 20px;
}

.logo {
    height: 50px;
    margin-left: 50px;
}

.sign-in-button {
    margin-left: 20px
}

.search-bar {
    margin-left: auto;
    margin-right: 20px;
}