.movies-container {
    background: rgb(255, 255, 255, .2);
    height: 300px;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.movies-container-heading {
    color: #FFF;
}

.movies-section {
    margin-top: 200px;
}